.utterance
  %p e-Coach will ask you questions
  %p To guide you toward your goal.
  %p We'll email you a transcript when you're done!
  %p Enter your email below to start.
.new-conversation-form
  = form_for @conversation do |f|
    = f.label :email
    = f.text_field :email
    = f.submit "Start Conversation"